body {
  margin: 0;
  height:100vh;
  width:100vw;
  display:flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

label {
  display: inline-block;
  width:30vw;
  margin-right:2.5vw;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 10vw;
}

h2 {
  font-size: 7vw;
}

input {
  width: 39vw;
  border:0;
  padding:1vw;
  border-radius: 30vw;
  background: #e4e4e4;
  box-shadow: inset 20px 20px 60px #c2c2c2, 
              inset -20px -20px 60px #ffffff;
}

button {
  color:#333;
  border:0;
  padding:1vw;
  background: #e4e4e4;
  box-shadow:  20px 20px 60px #c2c2c2, 
              -20px -20px 60px #ffffff;
  border-radius: 30vw;
}

.button-primary {
  background: #e4e4e4;
  box-shadow:  20px 20px 60px #c2c2c2, 
              -20px -20px 60px #ffffff;
}

input.input-right, button.button-right{
  border-radius:0 1vw 1vw 0; 
}

input.input-left, button.button-left{
  border-radius: 1vw 0 0 1vw; 
}

input.input-center, button.button-center{
  border-radius: 0;
}

.root {
  height:100vh;
  width:100vw;
  display: flex;
}
