.selected-card {
    margin-top: 2.5vw;
    padding: 2vw;
    border: 1px solid #333;
    background: #dedede;
    text-align: center;
    font-size: 40vw;
    vertical-align: middle;
    width: 95.5vw;
}