.selected-card {
    border:0;
    margin-top: 2.5vw;
    padding: 2vw;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
    text-align: center;
    font-size: 40vw;
    vertical-align: middle;
    width: 95.5vw;
    border-radius: 1vw;
}

.selected-card:hover {    
    box-shadow: 0 0 0 1px rgba(150,150,255,0.9);
}