body {
  margin: 0;
  padding: 2vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

label {
  display: inline-block;
  width:30vw;
  margin-right:2.5vw;
}

h1 {
  text-align: center;
}

input {
  width: 39vw;
}

input, button {
  border:0;
  padding:1vw;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
  border-radius:1vw;
}
