.card {
    border:0;
    margin-top: 2.5vw;
    color:#333;
    padding: 4vw;
    font-size: 5vw;
    background: #e4e4e4;
    box-shadow:  20px 20px 60px #c2c2c2, 
              -20px -20px 60px #ffffff;
    text-align: center;
    vertical-align: middle;
    width: 22vw;
    border-radius: 30vw;
}

.card:hover {    
    box-shadow: inset 20px 20px 60px #c2c2c2, 
              inset -20px -20px 60px #ffffff;
    color:#333;
    cursor: pointer;
}