.card {
    border:0;
    margin-top: 2.5vw;
    color:#333;
    padding: 4vw;
    font-size: 5vw;
    text-align: center;
    vertical-align: middle;
    width: 22vw;
    border-radius: 30vw;
}

.card:hover {
    cursor: pointer;
}