.results-histogram-container {
    margin-top:4vh;
    width:94vw;
    text-align: center;
    vertical-align: middle;
    border-radius: 30vw;
}

.results-histogram {
    margin-top:4vh;
    width:94vw;
    text-align: center;
    vertical-align: middle;
    border-radius: 30vw;
}