.selected-card {
    border:0;
    margin-top: 2.5vw;
    background:#33658A;
    color:#fafafa;
    padding: 2vw;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
    text-align: center;
    font-size: 40vw;
    vertical-align: middle;
    width: 95.5vw;
    height: 38.5vh;
    border-radius: 1vw;
}

.selected-card:hover {    
    background:#ddd;    
    color:#333;
    -webkit-box-shadow: 0 0 0 1px #33658A;
    -moz-box-shadow: 0 0 0 1px #33658A;
    box-shadow: 0 0 0 1px #33658A;
    cursor: pointer;
}