.title {
    padding-top:2.5vw;
    padding-bottom: 2.5vw;
    text-align: center;
}

.title-icon {    
    color:#55b9f3;
}

.title-text {    
    margin-top:2.5vw;
    height:15vw;
    color:#333;
    font-size:10vw;
    display:inline-block;
    line-height: 15vw;
    padding-left:2vw;
    padding-right:5vw;
    vertical-align: middle;
    width:auto;
    font-weight:bold;
    border-radius: 30vw;
}